  <div class="signup-form">
    <h1>Newsletter registration form</h1>

    <form name='regForm' novalidate>

      <div class="form-elem">
        <div>Firstname : </div>
        <input type="text" name="firstname" placeholder="Enter your first name"
          ng-model="signUpCtrl.user.firstname"
          required>
        <span
            ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
            First name is required
        </span>
      </div>   

      <div class="form-elem">
        <div>Lastname : </div>
        <input type="text" name="lastname" placeholder="Enter your last name"
          ng-model="signUpCtrl.user.lastname"
          required>
          <span
            ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
            Last name is required
          </span>
      </div>   

      <div class="form-elem">
        <div>Email address : </div>
        <input type="email" name="email" placeholder="Email"
          ng-model="signUpCtrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
      </div>   

      <div class="form-elem">
        <div>Phone number : </div>
        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signUpCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
      </div>   

      <div class="form-elem">
        <div>Favorite dish short name : </div>
        <input type="text" name="favoritedish"
              placeholder="Enter favorite dish short name"
              ng-model="signUpCtrl.user.favDish.short_name"
              required>
        <span ng-if="regForm.favoritedish.$touched && (false == signUpCtrl.checkFavorite())">
          Error: Invalid value (It must be B4 or A2 and so on...)
        </span>
      </div>
 
      <div class="form-button">
        <button type="button" class="btn btn-success"
          ng-disabled="regForm.$invalid || (false == signUpCtrl.checkFavorite())"
          ng-click="signUpCtrl.submit()">
          Submit
        </button>
      </div>

    </form>
    
</div>
